<form action="/users/signup" method="POST">
    
<label>
    First Name
    <input type="text" aria-placeholder="First Name" name="first_name">
</label>
<label>
    Last name
    <input type="text" aria-placeholder="Last Name" name="last_name">
</label>
<label>
    Email
    <input type="text" aria-placeholder="Email" name="email">
</label>
<label>
    Password
    <input type="text" aria-placeholder="Password" name="password">
    </label>
    <button type="submit">Create my Account</button>
</form>